
<%= render 'shared/content_title', title: 'Showing posts' %>
<div class="well">
	<h3><%= @post.title %></h3>
	<p><%= @post.description %>
	<p><%= link_to make_http(@post.url), make_http(@post.url) %></p>
	<p>[<%= link_to 'Edit this post', edit_post_path(@post) %>]</p>
</div>

<p>Comments:</p>
<ul>

<%= render 'shared/comments', obj: @post, show_post: false %>	



<% if logged_in? %>

	<%= render 'shared/errors', myclass: @comment %>
	<%= form_for [@post, @comment] do |f| %>
		<%= f.label "Comments" %>
		<%= f.text_area :body %>
		<p><%= f.submit "Create comment" %></p>
	<% end %>
<% end %>


